@media screen and (max-width: 767px) 
    .AAE-conten-five h6
        margin-top: 45px

@media screen and (max-width: 991px) 
    .AAE-header-nav
        background-color grayDark
    .AAE-header-nav 
        .nav-item
            display: none