@media screen and (max-width: 767px) 
    body
        overflow-y: auto !important;
    .AAE-conten-five h6
        margin-top: 45px
    .AAE-conten-five
        .AAE-title-proyects 
            margin -35px
            margin-top: 30px
            display block
        .carousel-indicators, .carousel-control-prev, .carousel-control-next
            display: none

@media screen and (max-width: 991px)
    body
        overflow-y: auto !important; 
    .AAE-header-nav
        background-color: #22222236;
    .AAE-header-nav 
        .nav-item
            display: none
    .AAE-conten-one 
            background-position: unset 
        .AAE-ancle-up 
            display: block
    .AAE-info-ux
        .btn
            padding: 5px

@media screen and (max-width: 1024px)
    body
        overflow-y: auto !important;
    .personal-photo, canvas
        display: none