.AAE-conten-page
    width 100%
    .AAE-header-nav
        width 100%
        border-bottom 1px solid rgba(255, 255, 255, 0.2);
        color grayNav 
        position fixed
        z-index 1000
        .navbar-brand 
            display: none
        .nav-item
            a  
                color grayBase
        .AAE-logo-menu
            img 
                margin: 12px
                width: 200px
                transition: 0.4s
            .AAE-header-logo-add 
                width: 140px
.AAE-header-nav-add
    background-color: grayDark
    border-bottom 1px solid rgba(20, 20, 20, 0.2)


.AAE-conten-one 
    background-image url(../images/fondo-inicio.jpg)
    background-position center center
    background-repeat no-repeat
    background-size cover
    overflow: hidden
    .AAE-conten-title 
        min-height: 100vh;
        // background-color: rgba(255, 255, 255, 0.2);
    .AAE-ancle-up
        height 40px
        font-size: 30px
        padding: 10px 10px 57px 10px
        position: fixed
        z-index 1000
        margin-top: 87vh
        background-color: rgba(20, 20, 20, 0.9)
        color: whiteGray
        border-radius: 200px
        display: none
    h2 
        font-family "Lato", sans-serif
        font-size 73px
        text-align center
        font-weight 100 
        font-style italic
        color whiteLight
        line-height 90%
        span  
            color yellowLight
            font-weight 300

.AAE-title 
    font-family: "Roboto", sans-serif 
    font-weight: 100 
    font-size: 23px
    text-align center   
    
.AAE-conten 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
.AAE-conten-two
    width: 100% 
    background-color whiteGray 
    font-family: "Roboto", sans-serif
    font-weight: 300
    font-size: 19px
    h6 
        padding: 5px
    .AAE-sect-one
        min-height 7vh 
        background-color grayDark
        color whiteGray
        margin 0 -15px 0 -15px
    .AAE-sect-two
        background-color grayMaterialize
        margin 0 -15px 0 -15px
        color grayBase
        padding 30px 10% 30px 10%
        h6 
            color: yellowDark
            padding: 5px
    .AAE-sect-three
        background-color yellowDark
        margin 0 -15px 0 -15px
        color whiteGray
        border-bottom: 1vh solid bluegray
        padding 10px 13% 10px 13%
        color: grayMaterialize
    .AAE-sect-four 
        min-height 40vh
        margin 0 -12px 0 -12px
        color grayDark
        text-align center
        padding: 30px 0px 30px 0px
        .AAE-conten-iconSpam
            width: 150px
            height 150px
            padding: 25px
            border 3px solid grayDark
            border-radius: 200px
        img 
            width 150px 
        p  
            padding: 0px 50px 0px 50px
            font-size 16px 

.AAE-conten-three
    width: 100%
    background-color grayMaterialize 
    font-family: "Roboto", sans-serif
    font-weight: 300
    font-size: 19px
    color grayBase
    overflow hidden
    text-align center
    .AAE-info-responsive 
        margin-top 10%
        h6 
            padding 45px
        img 
            width: 450px
        .AAE-responsiveImg-tablet 
            width 200px
            margin-top -90px
            margin-left 55%
        .AAE-responsiveImg-cel
            margin-top -120px
            width 100px 
        p   
            padding 20px       
    .AAE-info-skulls
        margin-top 10%
        width 450px
        .progress 
            margin 11px
            background-color bluegray
        h6 
            padding 45px
        h5 
            font-size 15px
            text-align left
        button 
            background-color purpleMaterialize
            color grayBase
            margin 20px
    .AAE-decorator 
        width 100%
        background-color yellowDark
        height 15vh

.AAE-conten-four 
    width 100%
    background-repeat no-repeat
    background-size cover
    background-image url(../images/cohete.png)
    font-family: "Roboto", sans-serif
    font-weight: 300
    font-size: 19px
    color grayBase
    text-align center
    padding: 20px
    h6  
        margin 70px
    .AAE-content-services
        background-color grayMaterialize 
        border-radius 20px
        width: 250px 
        padding: 15px
        margin 10px
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .AAE-items-services 
            background-color whiteLight
            border-radius 200px
            width: 115px
            height 115px
            padding: 20px
            .fab
                color: #f35a59
            .fas
                color: #0190D9
            .far
                color: yellowLight
                margin: 2px 0 0 -5px
        p 
            margin 10px
            span 
                color #0190D9
    .AAE-text-services 
        margin 3% 17% 3% 17%

.AAE-conten-five 
    background-color: blackDark
    font-family: "Roboto", sans-serif
    font-weight: 300
    font-size: 19px
    color grayBase
    text-align center
    overflow: hidden;
    .carousel.slide
        margin 62px -15px 0px -15px
        .item-proyects 
            width: 400px
            height 200px
            img  
                width: 100%
    h6 
        margin-top 200px
    p 
        margin 10%
        span 
            color purpleDark
    .carousel-control-prev-icon
        width 50px
        height 50px
        background-color: purpleMaterialize
    .carousel-control-next-icon
        width 50px
        height 50px
        background-color: purpleMaterialize

.AAE-footer
    background-color: #1b1e24
    font-family "Roboto", sans-serif
    font-weight 300
    font-size 17px
    color bluegray
    text-align center
    padding 30px 
    a 
        color: bluegray
        text-decoration: none
    .AAE-footer-aae 
        padding: 20px
    button  
        width: 100%
        background-color purpleDark
        color grayBase
    .AAE-ig-content-list
        margin-left -40px
        .AAE-ig-links-footer 
            list-style none
            li  
                margin-top 10px
    .AAE-footer-end
        margin 20px -30px -30px -30px
        min-height 7vh
        background-color #121418
        padding-top: 15px
        p 
            font-size: 14px
            padding: 5px
        a 
            padding: 5px


//color circle nav / fullpage            
#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span 
    background whiteLight
.fp-tableCell //dejar alineación por default
    vertical-align baseline;

//Gallery styles
.mfp-force-scrollbars.mfp-wrap 
    overflow-y: auto !important
    overflow-x: auto !important

.mfp-force-scrollbars .mfp-img 
    max-width: none

.mfp-force-scrollbars .mfp-close 
    position: fixed