whiteLight = #ffffff 
whiteGray = #f3f3f3
yellowDark = #f9ba46
yellowLight = #ffcc33 
purpleDark = #666699
purpleMaterialize = #73608c
blueDark = #336699 
blackDark = #181818
grayDark = #222222 
grayMaterialize = #333333 
bluegray = #62707d
grayBase = #ccc



     