yellowDark = #f9ba46
yellowLight = #ffcc33 
whiteLight = #ffffff 
grayDark = #222222 
grayMaterialize = #333333 
blueDark = #336699 
purpleMaterialize = #73608c
purpleDark = #666699
whiteGray = #f3f3f3
grayBase = #ccc
bluegray = #62707d
blackDark = #181818




     